body {
  font-family: "calibri";
  text-align: center;
}

li {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
}

header {
  width: 100%;
  height: 65px;
  float: left;
  top: 0;
  left: 0;
  /* z-index: xxx; */
}


.container {
  width: 90%;
  margin: 0 auto;
  z-index: 999;
}

/* this is for ul tag (menu) */
.menu {
  float: right;
}

header li {
  float: left;
  width: 120px;
  height: 63.5px;
  line-height: 65px;
  text-align: center;
  list-style: none;
}


.menu li a {
  color: #111111;
  text-align: left; /* whats acc written in the menu */
  text-decoration: none;
  display: block;
  font-family: "Alegreya";
  font-size: 18px;
  border-radius: 50%;
}

.menu li a:hover { /* what happens to the writing when u hover */
  color: #8394DA;
  font-size: 25px;
}

.menu .current {
  font-size: 25px;
  color: #8394DA;
}
/* HOME*********************************/

#home {
  background: url('../images/sky.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 700px;
}

#home h1 {
  margin: 5px auto 0 auto;
  position: absolute;
  font-size: 45px;
  text-align: left;
  color: #8394DA;
  font-family: "Alegreya";
}

#home img {
  display: run-in;
  margin: 0 auto;
  padding: 20px;
  border-radius: 100px;
  height: 460px;
}

#home p {
  font-size: 25px;
  font-family: "Alegreya";

}

/* FOOTER*********************************/

#home .fa { /*this is everything to do with the social media icons*/
  color: black;
  text-align: center;
  margin: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 30px;
  width: 100px;
  text-decoration: none;
  display: inline-block;
}

#home .fa-facebook:hover {
  color: #3B5998;
  text-decoration: none;

}

#home .fa-twitter:hover {
  color: #00ABE3;
  text-decoration: none;
}

#home .fa-instagram:hover {
  color: #dd3e7b;
  text-decoration: none;

}
/* ABOUT**********************************/


#about h1{
  color: #8394DA;
  margin: 10px auto 0 10px;
  font-family: "Alegreya";
  position: absolute;
  text-align: left;
  font-weight: bold;
}

#about img {
  display: run-in;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  left: 800px;
  top: 790px;
  border-radius: 25px;
  height: 360px;
  width: 500px;
  z-index: -1;
  opacity: 1;
}

#about img:nth-of-type(2) {
  display: run-in;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  left: 770px;
  top: 1350px;
  border-radius: 25px;
  height: 450px;
  width: 600px;
  z-index: -1;
  opacity: 1;
}

#about h2 {
  color: #111111;
  font-family: "Alegreya";
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;

}

#about p {
  font-size: 20px;
  font-family: "Alegreya";
  max-width: 100%;
  margin: auto 80px auto 60px;
  text-align:left;

}

#about p> b {
  font-size: 20px;
  font-family: "Alegreya";

}

#about ol{
  max-width:40%;
  margin: auto 100px auto 430px;
  text-align:left;
  font-size: 20px;
  font-family: "Alegreya";
}

#about h3 {
  color: black;
  font-weight: bold;
  font-size: 25px;
  font-family: "Alegreya";

}

#about h4 {
  color: #8394DA;
  font-weight: bold;
  font-size: 25px;
  font-family: "Alegreya";
  text-align: center;
  text-decoration: underline;
}

#about h5{
  font-size: 20px;
  font-family: "alegreya";
  text-align: left;
  line-height: 27px;
  max-width: 100%;
  margin: auto 80px auto 60px;
  text-align:left;
}

#about h6{
  font-size: 20px;
  font-family: "alegreya";
  text-align: left;
  line-height: 27px;
  max-width: 100%;
  margin: auto 20px auto 100px;
  text-align:left;
}

#about ul {
  max-width: 57%;
  margin: auto 500px auto 0px;
  text-align:left;
  font-size: 20px;
  font-family: "alegreya";
  text-align: left;
  line-height: 27px;
}
/* REFERENCES******************************/

#references h1 {
  margin: 0px auto 0 auto;
  color: black;
  font-family: "Alegreya";
  color: #8394DA;

}

#references ul {
  color: black;
  font-family: "Alegreya";
  max-width: 100%;
  margin: auto 350px auto 0px;
  text-align:left;
  font-size: 20px;
  line-height: 40px;


}
